#WaterConsumption{
    background-color: white;
}

.water-stat-title h5{
    color:white;
    font-size: 18px;
    text-align: center;
}

.subtitle-color{
    color:white;
}

.water {
    width: 30px;
    height: 12px;
    margin-right: 8px;
}

.rainwater {
    background-color: #3DC8E6;
}

.potablewater {
    background-color: #1467A2;
}

.description {
    margin-bottom: 0;
    font-size: 16px;
}
.comsuption-percent{
    margin-bottom: 0;
    margin-left:8px;
    color: grey;
    font-size: 1px;
}