#WaterConsumption{
    background-color: white;
    width: 530px;
}

.water-stat-title{
    color:white;
    font-size: 16px;
    text-align: center;
}

.subtitle-color{
    color:white;
}

.water {
    width: 30px;
    height: 12px;
    margin-right: 8px;
}

.rainwater {
    background-color: #2AAF42;
}

.potablewater {
    background-color: #3DC8E6;
}

.description {
    margin-bottom: 0;
    font-size: 16px;
}
.comsuption-percent{
    margin-bottom: 0;
    margin-left:8px;
    color: grey;
    font-size: 1px;
}