#WaterQuality{
    background-color: white;
}

.chart-WaterQuality {
    margin: 5% 10%;
}

.mgData,
.dayData {
font-family: "AvenirLight";
font-size: 12px;
}

.mgData {
    transform: translate(-10px, -10px);
}

.dayData {
    position: absolute;
    right: 0;
    transform: translate(-38px, -53px);
}

.chimical-container {
    margin: 10%;
}

ul {
    list-style: none;
}

.title-reference-chimical, 
.value-chimical-reference {
        font-size: 14px;
        font-family: "AvenirLight";
}

.value-chimical-reference {
    line-height: 27px;
}

.name-chimical,
.value-chimical {
    font-size: 18px;
}

.value-chimical {
    font-family: "AvenirHeavy";
}

.name-chimical {
    font-family: "AvenirBook";
}