.lineChart {
    height: 100%;
}

.canvas {
    width: 200px;
    height: 200px;
}

/* @media (min-width: 1302px) {
    .waterQuality-container {
        position: absolute;
        top: 0;
    }
} */

