.dashboard{
    background-color: #E8F3EC;
}
.dashboard-content{
    background-color: white;
}
#dashboard-header{
    background-color: white;
}
#dashbord-body{
    background-color: white;
}
/*
#circuit:hover {
    background-color: white;
}


*/